<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.leelab.blogproject.comment.dao.CommentDAO">
	
	<select id="select" resultType="com.leelab.blogproject.comment.vo.CommentVO">
		SELECT * FROM BLOG_COMMENT WHERE ID = #{param1}
	</select>
	
	<select id="getCommentsCount" parameterType="com.leelab.blogproject.post.vo.SearchVO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			BLOG_COMMENT
		<where>
			POST_ID = #{search.post_id}
		</where>	
	</select>
	
	<select id="selectAll" resultType="com.leelab.blogproject.comment.vo.CommentVO" parameterType="hashmap">
		WITH
			DATA
		AS
			(SELECT rownum, C.*, U.NICKNAME FROM BLOG_COMMENT C, BLOG_USER U WHERE C.USER_ID = U.ID AND C.POST_ID = #{vos.search.post_id} ORDER BY C.CREATE_AT ASC)
		select
		  *
		from
		  (select
		    PAGESET.*, ROWNUM AS RNUM
		  from
		    (select PAGE.* from DATA PAGE) PAGESET
		  where
		    rownum <![CDATA[<= #{vos.page.currentPage} * #{vos.page.pageSize} )
		where RNUM > (#{vos.page.currentPage}-1) * #{vos.page.pageSize}]]>
	</select>
	
	<insert id="insert" parameterType="com.leelab.blogproject.comment.vo.CommentVO">
		<selectKey keyProperty="comment.id" order="BEFORE" resultType="int">
			SELECT BLOG_COMMENT_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO
			BLOG_COMMENT
			(
				ID,
				USER_ID,
				CONTENT,
				POST_ID
			)
			VALUES
			(
				#{comment.id},
				#{comment.user_id},
				#{comment.content},
				#{comment.post_id}
			)
	</insert>
	
	<update id="update" parameterType="com.leelab.blogproject.comment.vo.CommentVO">
	
	</update>
	
	<delete id="delete" parameterType="com.leelab.blogproject.post.vo.SearchVO">
		DELETE FROM
			BLOG_COMMENT
		<where>
			<if test="search.post_id!=null">
			POST_ID = #{search.post_id}
			</if>	
		</where>
	</delete>		
</mapper>