<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.leelab.blogproject.category.main.MainCategoryDAO">
	
	<select id="selectAll" resultType="com.leelab.blogproject.category.main.MainCategoryDTO">
		SELECT * FROM MAIN_CATEGORY ORDER BY CATEGORY_ORDER ASC
	</select>
	
	<select id="selectByUserId" resultType="com.leelab.blogproject.category.main.MainCategoryDTO">
		SELECT * FROM MAIN_CATEGORY WHERE USER_ID = #{param1} 
									ORDER BY CATEGORY_ORDER ASC
	</select>
	
	<select id="selectById" resultType="com.leelab.blogproject.category.main.MainCategoryDTO">
		SELECT * FROM MAIN_CATEGORY WHERE ID = #{param1}
	</select>
	
	<insert id="insert" parameterType="com.leelab.blogproject.category.main.MainCategoryDTO" useGeneratedKeys="true">
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			SELECT MAIN_CATEGORY_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO MAIN_CATEGORY(ID, USER_ID, NAME, CATEGORY_ORDER)
					VALUES(#{id}, #{user_id}, #{name}, #{category_order})
	</insert>
	
	<delete id="delete">
		DELETE FROM MAIN_CATEGORY WHERE ID = #{param1}
	</delete>
	
	<delete id="deleteAll">
		DELETE FROM MAIN_CATEGORY
	</delete>
	
	<update id="update" parameterType="com.leelab.blogproject.category.main.MainCategoryDTO">
		UPDATE MAIN_CATEGORY 
			<set>
				<if test="name != null">NAME = #{name},</if>
				<if test="category_order!=0">CATEGORY_ORDER = #{category_order}</if>
			</set>
			WHERE
				ID = #{id}
	</update>
	
	<update id="pullCategoryOrder">
		
	</update>
	
	<!-- user_id가 param1인 사람의 카테고리중 category_order가 param2보다 큰 튜플 선택 -->
	<select id="selectByUserIdOver" resultType="com.leelab.blogproject.category.main.MainCategoryDTO">
		<![CDATA[
		SELECT * FROM MAIN_CATEGORY
				WHERE 
					USER_ID = #{param1}
				AND 
					CATEGORY_ORDER > #{param2}
				ORDER BY 
					CATEGORY_ORDER ASC
		]]>
	</select>
	
</mapper>