<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.leelab.blogproject.neighbor.dao.NeighborDAO">
	
	<select id="selectNeighbor" parameterType="com.leelab.blogproject.neighbor.vo.NeighborVo" resultType="com.leelab.blogproject.neighbor.vo.NeighborVo" >
		SELECT
			N.*,
		  	U.NICKNAME AS REL_USER_NICKNAME,
		  	CASE N.USER_ID
		  	WHEN #{user_id}
		  	THEN 'USER'
		  	ELSE 'REL_USER'
		  	END TAG
		FROM
		 	BLOG_NEIGHBOR N, BLOG_USER U
		WHERE
			(N.user_id = #{user_id} OR N.rel_user_id = #{user_id})
		  	AND N.REL_STATE = 3 AND
		  	CASE N.USER_ID
		  	WHEN #{user_id}
		  	THEN N.REL_USER_ID 
		  	ELSE N.USER_ID
		  	END = U.ID
	</select>
	
	<select id="selectAll" parameterType="com.leelab.blogproject.neighbor.vo.NeighborVo" resultType="com.leelab.blogproject.neighbor.vo.NeighborVo">
		SELECT
			N.*,
			U.NICKNAME AS REL_USER_NICKNAME
		FROM
			BLOG_NEIGHBOR N, BLOG_USER U
		WHERE
			<if test="user_id != null">
			N.REL_USER_ID = U.ID AND
			N.USER_ID = #{user_id}
			</if>
			<if test="rel_user_id != null">
			N.USER_ID = U.ID AND
			N.REL_USER_ID = #{rel_user_id}
			</if>
			<if test="rel_state != 3">
			AND
			(N.REL_STATE = 1 OR N.REL_STATE = 2)
			</if>
			<if test="rel_state == 3">
			AND
			N.REL_STATE = 3
			</if>
	</select>
	
	<select id="select" resultType="com.leelab.blogproject.neighbor.vo.NeighborVo">
		SELECT
			*
		FROM
			BLOG_NEIGHBOR
		WHERE
			USER_ID = #{user_id} AND
			REL_USER_ID = #{rel_user_id}
	</select>
	
	<insert id="insert" parameterType="com.leelab.blogproject.neighbor.vo.NeighborVo">
		INSERT INTO
			BLOG_NEIGHBOR(USER_ID, REL_USER_ID, APPLY_MSG)
		VALUES
			(#{user_id},#{rel_user_id}, #{apply_msg})			
	</insert>
	
	<update id="update" parameterType="com.leelab.blogproject.neighbor.vo.NeighborVo">
		UPDATE
			BLOG_NEIGHBOR
		SET
			REL_STATE = #{rel_state},
			REL_CREATE_AT = SYSDATE
		WHERE
			USER_ID = #{user_id} AND
			REL_USER_ID = #{rel_user_id}
	</update>
	
</mapper>