<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.leelab.blogproject.post.dao.PostDAO">

	<select id="select" resultType="com.leelab.blogproject.post.dto.PostDTO">
		SELECT * FROM BLOG_POST WHERE ID = #{PARAM1}
	</select>

	<update id="updateHit">
		UPDATE
			BLOG_POST
		SET
			HIT = HIT + 1
		WHERE
			ID = #{param1}
	</update>

	<update id="update" parameterType="com.leelab.blogproject.post.dto.PostDTO">
		UPDATE
			BLOG_POST
		SET
			TITLE = #{post.title},
			CONTENT = #{post.content},
			MAIN_CATEGORY_ID = #{post.main_category_id},
			SUB_CATEGORY_ID = #{post.sub_category_id}
		WHERE
			ID = #{post.id}
	</update>
	<delete id="delete">
		DELETE FROM BLOG_POST WHERE ID = #{param1}
	</delete>
	
	<select id="getPostsCount" parameterType="com.leelab.blogproject.post.vo.SearchVO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			BLOG_POST
		<where>
			USER_ID = #{search.user_id}
			<if test="search.main_category_id != 0">
			AND MAIN_CATEGORY_ID = #{search.main_category_id}
			</if>
			<if test="search.sub_category_id != 0">
			AND SUB_CATEGORY_ID = #{search.sub_category_id}
			</if>
		</where>
	</select>
	
	<select id="selectByCategoryId">
		SELECT
			*
		FROM
			BLOG_POST
		WHERE
		<if test='#{type} == "main"'>
			MAIN_CATEGORY_ID = #{param1}
		</if>
		<if test='#{type} == "sub"'>
			SUB_CATEGORY_ID = #{param1}
		</if>
	</select>
	
	<select id="selectById" parameterType="com.leelab.blogproject.post.vo.SearchVO" resultType="com.leelab.blogproject.post.vo.PostVO">
		SELECT 
			POST.*,
			MCATE.NAME AS MAIN_CATEGORY_NAME
			<if test="search.sub_category_id != 0">
			,SCATE.NAME AS SUB_CATEGORY_NAME
			</if>
		FROM
			BLOG_POST POST
			,MAIN_CATEGORY MCATE
			<if test="search.sub_category_id != 0">
			, SUB_CATEGORY SCATE
			</if>
		<where>
			AND POST.ID = #{search.post_id}
			AND MCATE.ID = POST.MAIN_CATEGORY_ID
			<if test="search.sub_category_id != 0">
			AND SCATE.ID = POST.SUB_CATEGORY_ID
			</if>
			<if test="search.main_category_id != 0">
			AND POST.MAIN_CATEGORY_ID = #{search.main_category_id}
			</if>
			<if test="search.sub_category_id != 0">
			AND POST.SUB_CATEGORY_ID = #{search.sub_category_id}
			</if>
		</where>
		ORDER BY
			CREATE_AT DESC
	</select>
	
	<select id="selectPosts" parameterType="hashmap"  resultType="com.leelab.blogproject.post.vo.PostVO">
		SELECT
			*
		FROM
			(SELECT
				PAGE.*, ROWNUM AS RNUM
			 FROM
			 	(SELECT 
					POST.*,
					MCATE.NAME AS MAIN_CATEGORY_NAME,
					CASE POST.SUB_CATEGORY_ID
					WHEN 0
					THEN NULL
					ELSE (SELECT NAME FROM SUB_CATEGORY WHERE ID = POST.SUB_CATEGORY_ID)
					END AS SUB_CATEGORY_NAME
				FROM
					BLOG_POST POST
					,MAIN_CATEGORY MCATE
					<if test="vos.search.sub_category_id != 0">
					, SUB_CATEGORY SCATE
					</if>
				<where>
					AND POST.USER_ID = #{vos.search.user_id}
					AND MCATE.ID = POST.MAIN_CATEGORY_ID
					<if test="vos.search.sub_category_id != 0">
					AND SCATE.ID = POST.SUB_CATEGORY_ID
					</if>
					<if test="vos.search.main_category_id != 0">
					AND POST.MAIN_CATEGORY_ID = #{vos.search.main_category_id}
					</if>
					<if test="vos.search.sub_category_id != 0">
					AND POST.SUB_CATEGORY_ID = #{vos.search.sub_category_id}
					</if>
				</where>
				ORDER BY
					CREATE_AT DESC) PAGE
				<![CDATA[
			  WHERE
			  	ROWNUM <= #{vos.page.currentPage} * #{vos.page.pageSize})
		WHERE
			RNUM > (#{vos.page.currentPage}-1) * #{vos.page.pageSize}]]>
	</select>

	<select id="selectPostsInPage" parameterType="com.leelab.blogproject.post.vo.SearchVO" resultType="com.leelab.blogproject.post.vo.PostVO">
		WITH
			PAGED_SELECT
		AS
			(
				SELECT
					CEIL(ROWNUM / 5) AS CURRENTPAGE,
					POST.*
				 FROM (SELECT * FROM BLOG_POST ORDER BY CREATE_AT DESC) POST
				 WHERE
				 	POST.MAIN_CATEGORY_ID = #{search.main_category_id}
				 	<if test="search.sub_category_id != 0">
				 	AND POST.SUB_CATEGORY_ID = #{search.sub_category_id}
				 	</if>
				 ORDER BY
					POST.CREATE_AT DESC
			 )
		SELECT
			*
		FROM
			PAGED_SELECT
		WHERE
			CURRENTPAGE = (
						SELECT
							CURRENTPAGE
						FROM
							PAGED_SELECT
						WHERE
							ID = #{search.post_id}
				   )
	</select>
	

	
	<insert id="insert" parameterType="com.leelab.blogproject.post.dto.PostDTO">
	<selectKey keyProperty="id" order="BEFORE" resultType="int">
		SELECT BLOG_POST_SEQ.NEXTVAL FROM DUAL
	</selectKey>
		INSERT INTO BLOG_POST(
						ID,
  					    USER_ID,
					    TITLE, 
					    MAIN_CATEGORY_ID, 
					    SUB_CATEGORY_ID,
					    CONTENT
					)
					VALUES(
						#{id},
						#{user_id},
						#{title},
						#{main_category_id},
						#{sub_category_id},
						#{content}
					)
	</insert>
	
</mapper>