<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.leelab.blogproject.user.dao.UserDAO">
	
	<select id="selectAll" resultType="com.leelab.blogproject.user.dto.UserDTO">
		SELECT * FROM BLOG_USER
	</select>
	
	<select id="selectUser" resultType="com.leelab.blogproject.user.dto.UserDTO">
		SELECT * FROM BLOG_USER WHERE ID = #{id}
	</select>
	
	<insert id="add" parameterType="com.leelab.blogproject.user.dto.UserDTO">
		INSERT INTO BLOG_USER(ID,
							  PASSWORD,
							  PHONE,
							  EMAIL,
							  AUTH_KEY,
							  NICKNAME,
							  PROFILE_URL) 
					  VALUES(#{id},
					         #{password},
					         #{phone},
					         #{email},
					         #{auth_key},
					         #{nickname},
					         #{profile_url})
	</insert>
	
	<update id="update" parameterType="com.leelab.blogproject.user.dto.UserDTO">
		UPDATE BLOG_USER
			<set>
				<if test="password!=null">PASSWORD = #{password},</if>
				<if test="phone!=null">   PHONE = #{phone},</if>
				<if test="email!=null">   EMAIL = #{email},</if>
				<if test="auth!=null">    AUTH = #{auth},</if>
				<if test="auth_key!=null">AUTH_KEY = #{auth_key},</if>
				<if test="nickname!=null">NICKNAME = #{nickname},</if>
				<if test="profile_url!=null">PROFILE_URL = #{profile_url}</if>
			</set>
			WHERE
				ID = #{id}
	</update>
	
</mapper>