@CHARSET "EUC-KR";
.profile-box {

}

.userInfo {
	
}

.user-control {
	color : white;
	margin-top : 12px;
	margin-left: 12px;
}

.username {
	cursor : pointer;
	margin-left: 10px;
	margin-right : 2px;
	font-weight: bold;
}

.logoutBtn {
	margin-left: 5px;
}

.control {
	margin-top: 7px;
}

.openBlogBtn {
	font-size: 11px;
}

.navigation {
	margin : 0px;
	padding-left : 5px;
	height : 70px;
	padding-top : 16px;
	background-color : #2196F3;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.navigation ul {
	margin : 0px;
	padding : 0px;
	list-style-type : none;
}

.navigation li {
	display: inline;
	margin-right : 15px;
	font-size: 30px;
	color: white;
}

.nav-title {

}

.navigation li a {
	color: white;
}